<div class="form-container">
  <div class="ui-g-12 ui-md-3">
  </div>
  <div class="ui-g-12 ui-md-6">
    <p-panel header="Cloud Messaging Settings">
      <form [formGroup]="fg" (ngSubmit)="onSubmit()">
        <div class="form-group mandatory">
          <label for="title">Auth Key
          </label>
          <textarea [rows]="4" [cols]="30" class="form-control" id="authKey" maxlength="180" placeholder="Auth Key"
            formControlName="authKey"></textarea>
          <div class="mandatory_text">
            <app-error [fromGroup]="fg" controlName="authKey" alias="Auth Key"></app-error>
          </div>
        </div>
        <div class="footer-btn">
          <button type="submit" class="btn btn-primary save-btn" [disabled]="fg.invalid">Submit</button>
        </div>
      </form>
    </p-panel>
  </div>
  <div class="ui-g-12 ui-md-3">
  </div>
</div>