.feature-title{
    padding: 10px 15px;
}
.close-right{
    cursor: pointer;
    color: #fff !important;
    font-size: 17px !important;
    text-transform: none !important;
}
.close_icon{
    padding-right: 5px;
}
.search_panel
{
    background: #000;
    position: fixed;
    width: 1200px !important;
    z-index: 1;
}
