<div>
  <div class="row">
    <div class="col-lg-6">
      <p class="name">{{fileObject.name}}</p>
    </div>
    <div class="col-lg-6 text-right">
      <button [disabled]="fileObjectStatus !== FileObjectStatus.Uploading" class="btn btn-sm btn-outline-warning cancel" (click)="cancel()">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <strong>Cancel</strong>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': progress + '%'}" aria-valuenow="progress" aria-valuemin="0"
          aria-valuemax="100">
          {{progress}}%
        </div>
      </div>
    </div>
  </div>
</div>