<div class="form-container">
    <div class="ui-g-12 ui-md-2">
    </div>
    <div class="ui-g-12 ui-md-8 addcontent_panel">
        <p-panel header="{{ isEpisode ? 
                           episode != null  ? contentType =='audio'?'Edit Song':'Edit Episode' : contentType =='audio'?'Add Song':'Add Episode' 
                         : content != null  ? contentType =='audio'?'Edit Album':'Edit Content' : contentType =='audio'?'Add Album':'Add Content' }}">
            <form [formGroup]="fg" (ngSubmit)="onSubmit()" class="addcontent_form">
                <div class="form-group mandatory">
                    <label for="title" class="col-sm-3 pull-left">Title</label>
                    <input type="text" class="form-control col-sm-9" id="title" placeholder="Content Title" formControlName="title">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 mandatory_text">
                            <app-error [fromGroup]="fg" controlName="title" alias="Content Title"></app-error>
                        </div>
                    </div>
                </div>

                <div class="form-group mandatory">
                    <label for="title" class="col-sm-3 pull-left">Description
                        <!-- <span style="color:darkgray"> (max. {{maxLength}} characters)</span> -->
                    </label>
                    <textarea [rows]="3" [cols]="30" class="form-control col-sm-9" id="description" placeholder="Description"
                        formControlName="description"></textarea> <!-- maxlength="{{maxLength}}"-->
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 mandatory_text">
                            <!-- <span class="pull-right" style="color:darkgray;"> Characters left : {{maxLength - description.length}}</span> -->
                            <app-error [fromGroup]="fg" controlName="description" alias="Description"></app-error>
                        </div>
                    </div>
                </div>

                <div class="row checkbox" *ngIf="!isEpisode">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">
                        <label>
                            <input type="checkbox" formControlName="is_premium"> Premium
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label *ngIf="contentType != 'audio'">
                            <input type="checkbox" [attr.disabled]="content ? content.has_episode ? 'disabled' : null : null" formControlName="has_episode"> Episode

                            <!-- <input type="checkbox" [attr.disabled]="content ? content.has_episode ? 'disabled' : null : null" formControlName="has_episode"> {{contentType =='audio'?'Album':'Episode'}} -->
                        </label>
                    </div>
                </div>
                <div *ngIf="contentType === 'audio' && !isEpisode">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 image_size">
                            <p>(Thumbnail size
                                <span> 341 x 192</span>, Banner image size
                                <span> 1170 x 430</span>)</p>
                        </div>
                    </div>
                    <div class="row checkbox addcontent_thumnail_banner">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <ss-file-upload [(content)]="thumbnailImage" label="Thumbnail Image" [contentUrl]="thumbnailImageUrl"></ss-file-upload>
                        </div>
                        <div class="col-sm-4">
                            <ss-file-upload [(content)]="bannerImage" label="Banner Image" [contentUrl]="bannerImageUrl"></ss-file-upload>
                        </div>
                    </div>
                </div>
                <div *ngIf="contentType === 'video'">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 image_size">
                            <p>(Movie Thumbnail size
                                <span> 341 x 192,</span> Tv Thumbnail size
                                <span> 255 x 144,</span> Banner image size
                                <span> 1170 x 430</span>)</p>
                        </div>
                    </div>
                    <div class="row checkbox addcontent_thumnail_banner">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <ss-file-upload [(content)]="thumbnailImage" label="Thumbnail Image" [contentUrl]="thumbnailImageUrl"></ss-file-upload>
                        </div>
                        <div class="col-sm-4">
                            <ss-file-upload [(content)]="bannerImage" label="Banner Image" [contentUrl]="bannerImageUrl"></ss-file-upload>
                        </div>
                    </div>
                </div>

                <div class="form-group" *ngIf="contentType != 'audio'">
                    <label for="youtube_TrailerLink" class="col-sm-3 pull-left">YouTube Trailer Link</label>
                    <input type="text" class="form-control col-sm-9" id="youtube_TrailerLink" placeholder="YouTube Trailer Link" formControlName="youtube_TrailerLink">
                </div>

                <div class="row checkbox" *ngIf="!has_episode &amp;&amp; contentType != 'audio'">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8">
                        <label>
                            <input type="checkbox" formControlName="is_youtubeVideoLink"> Is YouTube Video Link?
                        </label>
                    </div>
                </div>

                <div class="form-group mandatory" *ngIf="!has_episode && is_youtubeVideoLink">
                    <label for="youtube_VideoLink" class="col-sm-3 pull-left">YouTube Video Link</label>
                    <input type="text" class="form-control col-sm-9" id="youtube_VideoLink" [required]="is_youtubeVideoLink ? true : false" placeholder="YouTube Video Link"
                        formControlName="youtube_VideoLink">

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 mandatory_text">
                            <app-error [fromGroup]="fg" controlName="youtube_VideoLink" alias="YouTube Video Link"></app-error>
                        </div>
                    </div>
                </div>

                <div class="form-group mandatory">
                    <label for="active_date" class="col-sm-3 pull-left">Active DateTime</label>
                    <div class="col-sm-9">
                        <p-calendar id="active_date" placeholder="Active Date" formControlName="active_date" dateFormat="dd/M/yy" readonlyInput="true"
                            [showTime]="true" [showSeconds]="true" [hourFormat]="12" [showIcon]="true" [inputStyle]="{'width':'200px'}"></p-calendar>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 mandatory_text">
                            <app-error [fromGroup]="fg" controlName="active_date" alias="Active DateTime"></app-error>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="year" class="col-sm-3 pull-left">Year</label>
                    <div class="col-sm-9">
                        <p-inputMask id="year" mask="9999" formControlName="year" placeholder="Year"></p-inputMask>
                    </div>
                </div>

                <div class="row" *ngIf="!isEpisode">
                    <div class="col-sm-6">
                        <ss-category-selection [selectedCategories]="selectedCategories" [categoryType]="1" [contentType]="contentType" (onChange)="onChange($event, 1)"></ss-category-selection>
                    </div>

                    <div class="col-sm-6" *ngIf="contentType != 'audio'">
                        <ss-category-selection [selectedCategories]="selectedCategories" [categoryType]="2" [contentType]="contentType" (onChange)="onChange($event, 2)"></ss-category-selection>
                    </div>

                    <div class="col-sm-6" *ngIf="contentType != 'audio'">
                        <ss-category-selection [selectedCategories]="selectedCategories" [categoryType]="3" [contentType]="contentType" (onChange)="onChange($event, 3)"></ss-category-selection>
                    </div>

                    <div class="col-sm-6">
                        <ss-category-selection [selectedCategories]="selectedCategories" [categoryType]="4" [contentType]="contentType" (onChange)="onChange($event, 4)"></ss-category-selection>
                    </div>
                </div>

                <div class="footer-btn">
                    <button type="submit" class="btn btn-primary save-btn" [disabled]="fg.invalid">Submit</button>
                </div>
            </form>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-2">
    </div>
</div>

<p-dialog *ngIf="message" width="300" [contentStyle]="{'border-top':' 3px solid #00bdff'}" [(visible)]="visible" (onHide)="onHide()"
    [responsive]="true" [showHeader]="false" [closeOnEscape]="true" [dismissableMask]="true" [modal]="true" appendTo="body">

    <h6 class="content_dialog_msg">Success</h6>

    <div class="content_dialog_msg">{{message}} </div>

    <p-footer>
        <button type="button" class="btn btn-primary save-btn" (click)="onHide()">Ok</button>
    </p-footer>

</p-dialog>