.roles{
    ul{
        list-style-type: none;
        line-height:20px;
        margin-left: -9px;
        color: #afadad;
        padding-right: 15px;
    }
    .fa-check:before {
        color: #00bdff;
        padding-right: 5px;
        margin-left: -20px;
    }
    ul li
    {
        margin-bottom: 5px;
    }
    }