.fa-facebook{
    color:#4867aa;
}
.fa-twitter{
    color:#1da1f2;
}
.fa-google-plus{
    color:#dc4a38;
}
.fa-instagram{
    color:#9a39a0;
}
.fa-youtube{
    color:#ff0000;
}
.fa-android{
    color:#85c808;
}
