.search-btn{
    margin-top: 33px;
    cursor: pointer;
}

.search-panel{
    background-color: white;
    margin-top: 25px;
}

label{
    margin-top: 5px;
}

.mandatory_text{
padding-left: 22px;
}

.add-btn{
    cursor: pointer;
}

.alert-label{
    padding: 10px 15px;
    font-size: 15px;
}