<div class="header-btn">
  <button class="btn btn-primary" [routerLink]="['../add-subscription']">Add Subscription Plan</button>
</div>
<p-table #dt [columns]="cols" [value]="subscriptionList" selectionMode="multiple" [metaKeySelection]="false"
  exportFilename="Subscription" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Search"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-subscriber>
    <tr [pSelectableRow]="subscriber" style="word-wrap: break-word">
      <td>{{subscriber.paymentPlan}}</td>
      <td style="word-wrap: break-word;" class="doNotPrint">
        <span *ngFor="let feature of subscriber.features">
          <span>{{feature}}</span><br>
        </span>
      </td>
      <td>{{subscriber.amount}}</td>
      <td>{{subscriber.is_Active}}</td>
      <td style="word-wrap: break-word">
        <div class="edit-btn">
          <a class="fa fa-pencil" aria-hidden="true" [routerLink]="['../edit-subscription', subscriber.id]"></a>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="5" class="text-center">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>